body{
    background-color: rgb(53, 51, 51); 
    color: white;
}
h1{
   font-size: 59px;
   font-weight: 500;
   font-family: 'Times New Roman', Times, serif;
   text-align: center;
   color: orange;
}
#F{
   color: white;
   padding: auto;
   font-size: 30px;
}
li{
   font-size: 30px;
}
div{
   margin-top: 30px;
}
img{
   background-size: cover;
}
.r{
   color: rgb(4, 4, 68);
}

